.album-card {
    width: 250px;
    display: flex;
    flex-direction: column;

    .album-picture {
        height: 0;
        padding-top: 100%;
    }

    .album-title-and-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .album-artists {
            padding-bottom: 12px;

            a {
                text-decoration: none;
                color: inherit;
            }

            a:hover, a:active {
                text-decoration: underline;
            }
        }

        .album-info {
            display: flex;
            align-items: center;

            svg {
                font-size: 20px;
                margin-right: 4px;
            }
        }
    }
}
