.login-container {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    .login-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .spotify-icon {
            width: 26px;
            height: auto;
            margin-left: 16px;
        }
    }

    .link-container {
        padding-top: 8px;
    }
}
