.App {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    @media (max-width: 600px) {
        margin-top: 2rem;
    }

}
