.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    .search-input {
        width: 30%;
    }

    @media (max-width: 1280px) {
        .search-input {
            width: 50%;
        }
    }

    @media (max-width: 600px) {
        .search-input {
            width: 85%;
        }
    }

    @media (max-width: 360px) {
        .search-input {
            width: 90%;
        }
    }
}
