.search-results-page {
    margin-top: 2rem;

    .search-field {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .search-results-container {
        padding: 2rem;

        .search-results {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            .search-result {
                display: flex;
                justify-content: center;
            }
        }
    }

}
