.card {
    width: 250px;

    .artist-picture {
        height: 0;
        padding-top: 100%;
    }

    .artist-followers {
        display: flex;
        align-items: center;

        svg {
            font-size: 20px;
            margin-right: 4px;
        }
    }

    .artist-stars {
        padding: 1rem;

        svg {
            margin: 0;
        }
    }
}
